.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6dcf8b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.Title{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  margin-top: -30px;
}

.arrow1{
  width: 50px;
  margin-left: -200px;
  margin-top: 150px;
}
.arrow6{
  width: 50px;
  margin-left: -200px;
}
.arrow2{
  width: 50px;
  margin-top: -160px;
}
.arrow3{
  width: 50px;
  margin-top: 60px;
}
.arrow4{
  width: 50px;
  margin-left: 200px;
  margin-top: -160px;
}
.arrow5{
  width: 50px;
  margin-left: 200px;
  margin-top: 55px;
}
.jam{
  width: 50px;
}
.startbutton{
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  border: none;
  background-color: lightgray;
}

.boom{
  text-align: center;
}

.hour{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
}

.resetbutton{
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  border: none;
  background-color: rgb(243, 50, 50);
}

.pausebutton{
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  border: none;
  background-color: wheat;
}

.boom{
  margin-bottom: -60px;
}

.boom2{
  font-size: 50px;
}